:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/065/377/580/large/nelson-neto-r2-logo-03.jpg?1690223655");
  background-size: cover;
}
