<div class="sheet">
  <app-item style="left: 5.9%;top: 5.7%;"></app-item>
  <app-item style="left: 2.8%;top: 21.2%;"></app-item>
  <app-item style="left: 0.7%;top: 37.2%;"></app-item>
  <app-item style="left: 2.3%;top: 53%;"></app-item>
  <app-item style="left: 5.9%;top: 68.9%;"></app-item>



  <app-item style="left: 85.3%;top: 5.5%;"></app-item>
  <app-item style="left: 88.9%;top: 21.3%;"></app-item>
  <app-item style="left: 90.4%;top: 37.2%;"></app-item>
  <app-item style="left: 88.9%;top: 53%;"></app-item>
  <app-item style="left: 85.2%;top: 68.9%;"></app-item>


  <app-item class="isWeapon" style="left: 18.2%;top: 86.2%;"></app-item>
  <app-item class="isWeapon" style="left: 40.3%;top: 86.2%;"></app-item>
  <app-item class="isWeapon" style="left: 62.4%;top: 86.2%;"></app-item>
</div>
