/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #dadada;
}
html, body, input {
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.effect span {
  color: #e5e5e5;
}
